<%
page.title = theme.page_404.subtitle
%>
<div class="wrapper">
    <main aria-label="Content">
        <div class="not-found">
        <div class="container">
            <div class="title">404</div>
            <p class="phrase">😕 Hmm... Seems you lost from my journey.</p>
            <a class="solution" href="<%= config.url%>">back home</a>
        </div>
        </div>
    </main>  
</div>    