
  <div class="wrapper">
    <div class="author">
        <div class="author-avatar-wrapper">
          <img
            class="author-avatar"
            src="https://cdn.jsdelivr.net/gh/dewjohn/CDN@latest/images/avatar.webp"
            alt="avatar"
            loading="lazy"
          />
      </div>
      <h2 class="author-name"><%=config.author%></h2>
      <p class="author-bio"><%=theme.bio%></p>
    </div>
    <main aria-label="Content">
      <%-partial('partials/recent-posts')%>
    </main>
  </div>
