
<div class="wrapper">
    <div class="page-content">
    <header class="header">
      <h1 class="header-title center">Tags</h1>
    </header>
    <div class="tags-container">
        <%- tagcloud({min_font: 14, max_font: 18, amount: 200, color: true, start_color: '#666666', end_color: '#212121'}) %>
      </div>
    </div>
</div>