<footer class="footer">
    <small class="footer_copyright">
      <div id="bottom-inner">
        © 2021 Site by <%=config.author%> using
        <a href="http://hexo.io">hexo blog framework</a>.
        <br>
        <p> Theme is <a href="https://github.com/dewjohn/hexo-theme-klise">Klise</a></p>
      </div>
    </small>
  </footer>
  
  <%- partial('partials/scripts') %>